.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms $timing-function;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
